@font-face {
  font-family: "Bebas Neue Pro";
  src: url("../assets/font/BebasNeueProBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue Pro Regular";
  src: url("../assets/font/BebasNeueProRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Neulis Sans Medium";
  src: url("../assets/font/fonnts.com-Neulis_Sans_Medium.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Neulis Sans Regular";
  src: url("../assets/font/fonnts.com-Neulis_Sans_Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue Pro", serif !important;
}

.bannerHeading {
  font-family: "Bebas Neue Pro Regular", serif !important;
  letter-spacing: -1px;
}
.bannerCTA {
  font-size: 12px;
  font-weight: 700;
}
p {
  font-size: 16px !important;
}

.bia-img {
  background-image: url("../assets/bia/bia-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 235px;
  padding-bottom: 165px;
  margin-top: -170px;
  height: calc(75vh + 170px);
}

.biaHeading {
  font-size: 4rem;
  font-weight: 400;
  color: #c58c4e;
}

.biaBorder {
  border: 1px solid #a36b2c;
  padding: 25px;
}

.biaBorderBottom {
  border-bottom: 1px solid #b27f4a;
}

.biaBorderSize {
  flex: 1 1 200px;
  min-width: 260px;
  max-width: 300px;
}

.biaDifferentiator {
  height: 150px;
  /* flex: 1 1 200px;  */
  min-width: 200px;
  max-width: 350px;
}

.biaForwardContent {
  max-width: 300px;
  line-height: 2;
}

.textBrown {
  color: #a36b2c;
}

.brownBG {
  background-color: #422a1d;
  color: white;
}

.mediumBrownBG {
  background-color: #bc9164;
}

.lightBrownBG {
  background-color: #fffbf5;
}

.activityImg {
  width: 200px;
  height: 250px;
  transition: all 0.5s ease-in-out;
}
.activityImg:hover {
  transform: scale(1.03);
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
}
.becomeAMember{
  background: #b27f4a !important;
  color: white !important;
  border: none !important;
}
.becomeAMember:hover{
  background-color: #c28b4f !important;
}
.biaSubFooter {
  font-size: 4rem;
  line-height: 1;
}

.biaPlans ul {
  list-style: none;
  padding-left: 0;
  line-height: 2;
}

.recommended {
  box-shadow: 0px 4px 12px rgb(212 212 212 / 49%),
    0px 0px 16px rgb(194 194 194 / 61%);
}

.biaMembershipCard {
  background-color: #fffbf4;
  transition: all 0.5s ease-in-out;
}
.biaMembershipCard:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  z-index: 5;
}
.biaMembershipCard h3,
.biaMembershipCard h4 > span {
  font-size: 2.5rem;
}

.biaMembershipCard h4 > sup {
  font-size: 2rem;
}

.keyActivityContent {
  max-width: 300px;
  line-height: 1.5;
}
.pricingContainer{
  height: 12rem;
}
.keyActivityContent h4,
.biaPlans h5,
.pricing h3,
.pricing h4 {
  letter-spacing: -1px;
}
.keyActivityContent h4,
.keyActivityContent span,
.biaPlans h5,
.pricing h3,
.pricing h4,
.address-email-div-footer span {
  font-family: "Neulis Sans Medium" !important;
}

.biaMembershipCard:hover .pricing-btn {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s 0s;
}
.pricing-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 7px 20px;
  background-color: #a46a2d;
  color: #fff;
  border: none;
  border-radius: 50px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
  z-index: 2;
}

.keyActivityContent p {
  font-family: "Neulis Sans Regular" !important;
}
.content1 {
  background-image: url("../assets/bia/Africa.png") !important;
}

.content2 {
  background-image: url("../assets/bia/Asia.jpeg") !important;
}

.content3 {
  background-image: url("../assets/bia/Europe.png") !important;
}

.content4 {
  background-image: url("../assets/bia/America.png") !important;
}

.content5 {
  background-image: url("../assets/bia/Australia.png") !important;
}

.social-icons a {
  margin: 0 4px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  /* height: 30%;  */
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0) 75%
  );
  color: white;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  padding: 1rem;
  box-sizing: border-box;
}
.position-relative:hover .overlay {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0) 85%
  );
}

.overlay p {
  position: absolute;
  left: 15px;
  bottom: 15px;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  transition: bottom 0.5s ease-in-out;
}
.position-relative:hover .overlay p {
  bottom: 25px;
}
.position-relative:hover .overlay div {
  font-weight: 500;
}

.biaQR {
  min-width: 100px;
  max-width: 150px !important;
}

.biaForwardImg:hover {
  box-shadow: 0px 4px 12px rgba(238, 238, 238, 0.81),
    0px 0px 16px rgba(197, 195, 183, 0.81);
}
.btn-group.biaMembershipBtnGp button {
    background: #af7f4b;
    border-color: #af7f4b;
}
.btn-group.biaMembershipBtnGp button.inactive {
    background: white;
    color: black;
}
.biaImgTxt{
  color: gray;
}
@media (min-width: 767px) {
  .borderBottom {
    border-bottom: 1px solid #c19363;
  }

  .borderTop {
    border-top: 1px solid #c19363;
  }

  .borderLeft {
    border-left: 1px solid #c19363;
  }

  .borderRight {
    border-right: 1px solid #c19363;
  }
}

@media (max-width: 767px) {
  p {
  font-size: 14px !important;
}
  .bia-img {
    padding-bottom: 75px;
    padding-top: 280px;
    height: calc(87vh + 170px);
  }
.biaImgTxt{
  color: gray;
  font-size: 12px !important;
}
  .bia-img h2 {
    font-size: 4rem !important;
  }
  .biaMembershipCard{
    min-height: 550px;
  }
.biaMembershipCard:hover{
  transform: scale(1);
}
.pricingContainer{
  height: 9rem;
}
  .w-45 {
    width: 45%;
  }

  .biaSubFooter,
  .biaHeading {
    font-size: 3rem;
  }

  .biaForwardContent,
  .keyActivityContent {
    max-width: 100%;
  }

  .biaDifferentiator {
    min-width: 45%;
    width: 47%;
    max-width: 47%;
    height: auto;
  }

  .biaForwardImg {
    width: 100px;
    height: 70px;
  }

  .biaVisionMissionImg {
    width: 50px;
    height: 50px;
  }

  .biaBorderSize {
    min-width: 45%;
    width: 45%;
    max-width: 45%;
    height: auto;
  }

  .activityImg {
    width: 100%;
    height: 300px;
  }
  .biaBorder {
    padding: 15px;
  }

  .content:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
    flex: 3;
    filter: grayscale(0) !important;
  }

  .biaQR {
    max-width: 200px !important;
    padding: 1rem;
  }

  .quick-links li {
    font-size: 14px;
  }

  .biaMembership .swiper-pagination {
    position: relative !important;
  }
  .biaMembershipCard h3,
.biaMembershipCard h4 > span {
  font-size: 2rem;
}
.biaMembershipCard h4 > sup{
  font-size: 1.5rem;
}
.social-links-img{
  width: 70% !important;
}
.social-icons a{
      margin: 0 10px;
}
}
