.eventsContainer {
    display: flex;
    gap: 10px;
}

.thumnails {
    background: #b17d49 !important;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.thumText {
    color: #fff;
    padding-top: 8px;
    font-size: 19px;
    font-weight: 600;
}