.ourWork-img {
    background-image: url("/src/assets/about/our-work.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 235px;
    padding-bottom: 50px;
    margin-top: -170px;
    min-height: 75vh;
    filter: brightness(90%);
  }